 <!-- Page Title -->
    <section class="page-title" style="background-image: url(assets/assetsL/images/background/8.jpg)">
    	<div class="auto-container">
			<div class="side-icon">
				<img src="assets/assetsL/images/icons/page-title-icon.png" alt="" />
			</div>
			<h2>Derecho Civil e inmobiliario</h2>
			<ul class="page-breadcrumb">
				
			</ul>
			<div class="side-tag">Derecho Civil</div>
        </div>
    </section>
    <!-- End Page Title -->
	
	<!-- Case Detail Section One -->
    <section class="about-section case-detail-section-one">
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Content Column -->
				<div class="content-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="title">Fijando un estándar superior </div>
						<h3>¿Abogados litigantes en derecho Civil en Medellín?</h3>
						<p>En primer término, nuestra firma Abogados Civilistas con experiencia, se esmera en brindar el mejor servicio de asesoría, consultoría y acompañamiento con Abogados en Derecho Civil en Medellín y Antioquia. <br>
						Por tal circunstancia, contamos con, Juristas con Destreza en solución de Asuntos de índole Procesal, los cuales, le representamos en el área de Del valle de Aburrá. Medellín, Sabaneta, Envigado, Itagüí y demás municipios de Antioquia. <br>
						Como Abogado civil se ofrece: Consultoría en Derecho civil, Derecho inmobiliario, Estructuración de contratos y Trámites notariales.
							
						​</p>
						
					</div>
				</div>
				
				<!-- Image Column -->
				<div class="image-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="image">
							<div class="pattern-layer" style="background-image:url(assets/assetsL/images/background/pattern-10.png)"></div>
							<img src="assets/assetsL/images/resource/service-4.jpg" alt="" />
						</div>
					</div>

				</div>
				
			</div>
		</div>
	</section>
	<!-- End Case Detail Section -->
	
	<!-- Case Detail Section Two -->
    <section class="case-detail-section-two">
		<div class="auto-container">
			<div class="inner-container">
				<div class="row clearfix">
					
					<!-- Image Column -->
					<div class="image-column col-lg-6 col-md-12 col-sm-12">
						<div class="inner-column">
							<div class="image">
								<img src="assets/assetsL/images/resource/news-2.jpg" alt="" />
							</div>
						</div>
					</div>
					
					<!-- Content Column -->
					<!-- <div class="content-column col-lg-6 col-md-12 col-sm-12">
						<div class="inner-column">
							<h3>Derecho Civil e inmobiliario</h3>
							<p>Especialistas en transacciones inmobiliarias de todo tipo, ya que nuestro asesoramiento abarca las siguientes actuaciones profesionales:
							</p>
							<div class="row clearfix">
								<div class="column col-lg-6 col-md-6 col-sm-12">
									<ul class="list">
										<li>Asesoramiento, redacción, negociación y acompañamiento en operaciones de compraventa de inmuebles, redacción de contratos de arrendamientos urbano.</li>
										<li>Procedimientos legales de reclamación de cantidades.</li>
										<li>Asesoramiento legal continuado a promotores, juntas de compensación, agentes inmobiliarios y deslinde de terreno.</li>
										
									</ul>
								</div>
								<div class="column col-lg-6 col-md-6 col-sm-12">
									<ul class="list">
										<li>Trámites inmobiliarios ante el Registro de la Propiedad.</li>
										<li>Tratamiento fiscal de las operaciones e inversiones inmobiliarias.</li>
										<li>Asesoramiento inmobiliario y fiscal en Inversiones inmobiliarias.</li>
										<li>Asesoramiento en asuntos Urbanismo, así como dirección técnica de procedimientos contencioso administrativo.</li>
										
									</ul>
								</div>
							</div>
						</div>
					</div> -->
					<div class="content-column col-lg-6 col-md-12 col-sm-12">
						<div class="inner-column">
							<h3>¿Qué hace un Abogado Civil? ¿Por qué contratarlo? ¿Necesitas Saber que Hace y Por qué contratar abogados en derecho civil?</h3>
							<h3>A continuación, te explicamos...</h3>
							<p>ABOGADOS EN DERECHO CIVIL: Se Encarga de solucionar los problemas que surjan entre las personas entre sí en sus diferentes aspectos como son: En Suma, todos los relacionados con las personas mismas, el matrimonio, el divorcio, los bienes de las personas, la propiedad, y formas de adquirir la propiedad ocupación, accesión, prescripción. También, La posesión los modos de adquirir y perder la posesión de los bienes. Los derechos de uso, habitación y servidumbre así: Para terminar, lo relativo a, Patria potestad Alimentos. El parentesco, sus obligaciones, La tutela (protección de los menores) y Curaduría (protección de sus bienes de los menores.) Los contratos celebrados por ellas. La muerte de las personas y la sucesión por causa de la muerte. Descripción de servicios enmarcados en los procesos del Derecho Civil En primer Lugar, Los abogados en derecho civil, Gestionan los procesos civiles son:<br> “Los procesos entre los particulares entre sí”.<br>
							 Por lo tanto, cuando tengas un problema con otra persona y no sepas como solucionarlo. Tienes como una buena opción acudir a abogados Civiles, los cuales buscarán la solución legal adecuada según tu caso.
							</p>
							<!-- <div class="row clearfix">
								<div class="column col-lg-6 col-md-6 col-sm-12">
									<ul class="list">
										<li>Asesoramiento, redacción, negociación y acompañamiento en operaciones de compraventa de inmuebles, redacción de contratos de arrendamientos urbano.</li>
										<li>Procedimientos legales de reclamación de cantidades.</li>
										<li>Asesoramiento legal continuado a promotores, juntas de compensación, agentes inmobiliarios y deslinde de terreno.</li>
										
									</ul>
								</div>
								<div class="column col-lg-6 col-md-6 col-sm-12">
									<ul class="list">
										<li>Trámites inmobiliarios ante el Registro de la Propiedad.</li>
										<li>Tratamiento fiscal de las operaciones e inversiones inmobiliarias.</li>
										<li>Asesoramiento inmobiliario y fiscal en Inversiones inmobiliarias.</li>
										<li>Asesoramiento en asuntos Urbanismo, así como dirección técnica de procedimientos contencioso administrativo.</li>
										
									</ul>
								</div>
							</div> -->
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<!-- End Case Detail Section -->
	<!-- Faq Page Section -->
    <section class="faq-page-section">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered">
				<div class="title">Derecho sobre inmuebles</div>
				<h2>Que es y como se aplica el Derecho inmobiliario.</h2>
			</div>
			<div class="row clearfix">
				
				<!-- Accordion Column -->
				<div class="accordion-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						
						<!--Accordian Box-->
						<ul class="accordion-box style-two">
										
							<!--Block-->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>¿En qué consiste el proceso de Restitución de inmueble arrendado?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">
											<p>El proceso de Restitución de inmueble arrendado, código general del proceso, en este caso la pregunta seria</p>
										</div>
									</div>
								</div>
							</li>

							<!--Block-->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>¿Cual es el trámite para restitución del inmueble arrendado?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">
											<p>El contrato de arrendamiento de inmuebles es un contrato bilateral o sea entre dos partes: por una parte el arrendatario o propietario y por la otra el arrendador que es quien paga el precio por tener el uso del inmueble para disfrutar del bien dado en arrendamiento, con la obligación de entregarlo o restituir en el mismo estado de conservación en que fue recibido en términos generales. En caso de incumplimiento por parte del arrendador, el arrendatario puede pedir la entrega del bien inmueble arrendado o sea la restitución forzada y obligatoria del mismo, basado en las causales establecidas en la ley. Cumpliéndose así la terminación de contrato de arrendamiento</p>
											 <p> Si eres arrendador y el arrendatario no te paga el canon, es hora de contratarnos y lograr así su restitución y pago de todo lo adeudada conforme el contrato en términos generales. Cualquier problema que tengas en materia de arrendamientos contáctanos!
											</p>
										</div>
									</div>
								</div>
							</li>

							<!--Block-->
							<li class="accordion block">
								<div class="acc-btn active"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>¿Que es el Proceso de servidumbre?</div>
								<div class="acc-content current">
									<div class="content">
										<div class="text">
											<p>En Derecho civil según el código civil, Se caracteriza por ser un proceso en que se establece un gravamen sobre una propiedad para permitir el tránsito por el mismo o el paso de aguas para el beneficio de otro predio colindante. Si tienes la necesidad de pasar por un predio ajeno y sin posibilidad de hacerlo por otro lado o necesitas agua en tu predio que no lo tiene estamos a tu servicio para adelantar y realizar el proceso de servidumbre correspondiente. </p>
										</div>
									</div>
								</div>
							</li>
							
							<!--Block-->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>¿Que es el proceso posesorio?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">
											<p>Puede ser de conservación o de protección de la posesión y se refiere a quien ejerce el uso y goce sin ser dueño de un bien inmueble. Puede defender esa posesión ante injusta agresión actual o inminente y para obtener protección o conservación legal de la posesión. Eres poseedor y están perturbando o quieren perturbar tu posesión estamos a tu servicio para protegerla o conservarla. </p>
										</div>
									</div>
								</div>
							</li>
							
							<!--Block-->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>¿ En qué consiste la Entrega de cosa del tradente al adquirente y cuál es el proceso declarativo de entrega de cosa del tradente al adquirente?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">
											<p> La tradición es la propiedad, ( posesión en código civil )quien vende debe transferir la propiedad al comprador cuando no lo hace el comprador tiene el derecho a pedir que se le haga la transferencia a su nombre de forma forzada por decisión de un juez. T </p>
										</div>
									</div>
								</div>
							</li>

							
							
						</ul>
						
					</div>
				</div>
				
				<!-- Accordion Column -->
				<div class="accordion-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						
						<!--Accordian Box-->
						<ul class="accordion-box style-two">
							
							<!--Block-->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>¿De que se trata la Rendición provocada de cuentas?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">
											<p>Este proceso se configura cuando alguien es contratado para prestar un servicio, debe rendir cuentas por el servicio prestado, si no lo hace, se puede hacer que rinda cuentas de las resultas de su gestión por orden legal.</p>
										</div>
									</div>
								</div>
							</li>			
							<!--Block-->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>¿Que es el Pago por consignación?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">
											<p>El proceso de pago por consignación es un proceso que se caracteriza porque el que está debiendo y obligado a pagar pero y el acreedor no quiere recibir el pago, el deudor puede pagar mediante una consignación autorizada por juez para evitar que se generan más intereses en su contra y evitar la mora o generación de mayores intereses por retardo en el pago en términos generales.</p>
											<p>Si debes un dinero y no te lo quieren recibir contactanos estamos a tu servicio y evita así el no pago, la mora y demás consecuencias jurídicas de el no pago oportuno.</p>
										</div>
									</div>
								</div>
							</li>

							<!--Block-->
							<li class="accordion block">
								<div class="acc-btn active"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>¿Que es la Impugnación de actos de asamblea o junta de socios?</div>
								<div class="acc-content current">
									<div class="content">
										<div class="text">
											<p>En este proceso, las decisiones de las asambleas o juntas de socios deben respetar lo relativo a quórum para decidir a discutir válidamente y cuando la decisión vulnera el número de personas necesarias para válidamente decidir o discutir pueden ser impugnadas para dejar sin validez la decisión. Cuando la asamblea tome una decisión con violación del Quórum contrátanos para defender tus intereses.</p>
										</div>
									</div>
								</div>
							</li>
							
							<!--Block-->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>¿En qué consiste la Declaración de bienes vacantes o mostrencos?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">
											<p>Cuando un bien no tiene dueño aparente ni conocido, se puede realizar el proceso para declararlos vacantes y ganarse la propiedad por prescripción con la intervención de un juez. <br>¿Tienes la posesión de un bien vacante? Contáctenos para hacerte dueño del mismo. </p>
										</div>
									</div>
								</div>
							</li>
							
							<!--Block-->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>¿Qué son Los procesos ejecutivos?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">
											<p>Son relativos al pago de obligaciones claras, expresas y exigibles originadas o contenidas en un Título valor determinado así: Letra de cambio, cheque, Pagaré…. O Contrato con obligaciones asimiladas a letra de cambio… etc.<br> Si le deben una suma dineraria determinada o determinable, contenida en una letra de cambio, cheque o pagaré u obligaciones contractuales contratarnos para recuperar lo debido conforme a la ley.</p>
										</div>
									</div>
								</div>
							</li>

							<!--Block-->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>¿Y Los Ordinarios?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">
											<p>El proceso ordinario es el que da las mayores y mejores garantías tanto al demandante como al demandado. Si le deben un dinero y no tiene un título que lo soporte, el proceso ordinario es el mecanismo adecuado para obtener el pago. En caso de no tener una letra cheque, pagare o contrato que soporte la obligación o la contenga o por confianza no los creaste. Si te deben una obligación dineraria y no tienes soporte para que te la paguen, un proceso ordinario puede ser la solución, contactanos para recuperar lo debido y no pagado conforme a la ley.</p>
										</div>
									</div>
								</div>
							</li>
							
						</ul>
						
					</div>
				</div>
				
			</div>
			
		</div>
	</section>
	<!-- End Faq Page Section -->
	
	<!-- Case Process Section -->
    <section class="case-process-section">
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Content Column -->
				<div class="content-column col-lg-7 col-md-12 col-sm-12">
					<div class="inner-column">
						<h3>Nuestro proceso</h3>
						<ul class="list">
							<li><strong>1. Planificación del caso.</strong></li>
							<li><strong>2. Evaluar la situación.</strong></li>
							<li><strong>3. Presentar el caso ante el autoridades.</strong></li>
							<li><strong>4. Seguimiento del caso y cumplimiento de ordenanzas.</strong></li>
							<li><strong>5. Finalizaciòn y liberaciòn del caso.</strong></li>
						</ul>
					</div>
				</div>
				
				<!-- Image Column -->
				<div class="image-column col-lg-5 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="image">
							<img src="assets/assetsL/images/resource/case-19.jpg" alt="" />
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Case Detail Section -->

	<section class="faq-section">
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Client Column -->
				<div class="faq-column col-lg-12 col-md-12 col-sm-12">
					<div class="inner-column">
						<!-- Sec Title -->
						<div class="sec-title">

							<div class="title">ALGUNAS PREGUNTAS FRECUENTES</div>
							<h2>Le ayudamos a presentar su caso.</h2>
						</div>
						
						<!--Accordian Box-->
						<ul class="accordion-box">
										
							<!--Block-->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>¿Porqué es importante?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">
											<p>El derecho civil es importante Porque regula las relaciones entre los particulares entre sí y es necesario para conocer cuales son los derechos y cuáles las obligaciones y hasta donde llegan, comienzan los derechos de los demás y en conflicto de derecho y obligaciones es necesario saber que le corresponde a cada quien según el caso y la ley o leyes aplicables al caso concreto. En este LEGALES le brinda soluciones a sus requerimientos en Derecho Civil en Medellín, Sabaneta, Envigado e Itagui Antioquia.</p>
										</div>
									</div>
								</div>
							</li>

							<!--Block-->
							<li class="accordion block">
								<div class="acc-btn active"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>¿Qué impacto tiene en nuestras vidas?</div>
								<div class="acc-content current">
									<div class="content">
										<div class="text">
											<p>El derecho civil genera gran impacto en nuestras vidas, porque es el que regula las relaciones entre los particulares entre sí y en caso de conflictos nos da la solución. De esta manera nos da los derechos y nos impone las obligaciones también nos indica cómo solucionar los conflictos al chocar con los derechos de los demás ciudadanos.</p>
										</div>
									</div>
								</div>
							</li>
							
							<!--Block-->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>¿Quien lo creo?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">
											<p>El Derecho civil fue creado en Roma era un derecho exclusivo de los ciudadanos Jus civilis, no existía para los no ciudadanos, el derecho civil era así un derecho de clases connatural a la clase ciudadana. Y ajeno a los no ciudadanos así se creó el derecho civil en Roma.</p>
										</div>
									</div>
								</div>
							</li>
							
							<!--Block-->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>¿Que es el derecho civil personas?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">
											<p>El derecho civil personas es una parte del Código Civil que en su libro primero de las se determina que es persona, que es persona natural, que es persona jurídica, persona domiciliada, persona transeúnte, conceptos como domicilio civil, residencia, principio y fin de la existencia de las personas, presunción de muerte por desaparecimiento etc…etc..</p>
										</div>
									</div>
								</div>
							</li>

							<!--Block-->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>¿Que es el Civil y Comercial?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">
											<p>El derecho civil regula las relaciones entre los particulares entre sí, el derecho Comercial, es el derecho que regula las relaciones entre los comerciantes entre sí o cuando una de las partes es comerciante y la otra no. En relación con el ejercicio de actividades mercantiles o no mercantiles. La forma para determinar si el derecho comercial es aplicable, es si una de las partes es comerciante y si la actividad es mercantil o no lo es.</p>
										</div>
									</div>
								</div>
							</li>
							
						</ul>
						
					</div>
				</div>
				
				
			</div>
		</div>
	</section>
	
	<!-- CTA Section Four -->
	<section class="cta-section-four">
		<div class="auto-container">
			<div class="inner-container">
				<div class="pattern-layer-one" style="background-image:url(assets/assetsL/images/icons/cta-pattern-1.png)"></div>
				<div class="pattern-layer-two" style="background-image:url(assets/assetsL/images/icons/cta-pattern-2.png)"></div>
				<div class="row clearfix">
					<!-- Title Column -->
					<div class="title-column col-lg-9 col-md-12 col-sm-12">
						<div class="inner-column">
							<div class="icon flaticon-auction-2"></div>
							<h3>Rapidas soluciones</h3>
							<div class="text">Obtenga las respuestas, la asesoría, la atención personalizada para su caso y el aprendizaje profesional que le abrirá puertas</div>
						</div>
					</div>
					<!-- Button Column -->
					<div class="button-column col-lg-3 col-md-12 col-sm-12">
						<div class="inner-column">
							<a [routerLink]="['contact']" class="theme-btn btn-style-three"><span class="txt">Contactenos</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End CTA Section Four -->