<!-- Page Title -->
    <section class="page-title" style="background-image: url(assets/assetsL/images/background/8.jpg)">
    	<div class="auto-container">
			<div class="side-icon">
				<img src="assets/assetsL/images/icons/page-title-icon.png" alt="" />
			</div>
			<h2>Que es el derecho penal</h2>
			<ul class="page-breadcrumb">
				
			</ul>
			<div class="side-tag">Derecho Penal</div>
        </div>
    </section>
    <!-- End Page Title -->
	
	<!-- Case Detail Section One -->
    <section class="case-detail-section-one">
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Content Column -->
				<div class="content-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="title">Estrategias Efectivas </div>
						<h3>Derecho Penal</h3>
						<p>LEGALES se ha caracterizado por adelantar las defensas y asesorías penales complejas  a nivel nacional e  en los últimos años, siendo escogida y reconocida por la seriedad, compromiso, vocación y formación académica de su equipo de abogados.
						La ética, responsabilidad y solvencia profesional de nuestro equipo son los factores de confianza que nuestros clientes depositan al requerir los servicios de la Firma, particularmente a la hora de asumir la defensa de sus intereses en el sensible mundo del proceso penal, ya sea desde el rol de Defensor del procesado o desde la representación de Víctimas.
						La amplia y profusa experiencia en el análisis, evaluación y desarrollo de asuntos jurídico-penales son la carta de presentación de nuestros servicios a nivel nacional  posicionándonos a la vanguardia de las consultorías y servicios legales especializados en esta rama del Derecho.
						​</p>
						
					</div>
				</div>
				
				<!-- Image Column -->
				<div class="image-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="image">
							<img src="assets/assetsL/images/gallery/2.jpg" alt="" />
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Case Detail Section -->
	
	<!-- Case Detail Section Two -->
    <section class="case-detail-section-two">
		<div class="auto-container">
			<div class="inner-container">
				<div class="row clearfix">
					
					<!-- Image Column -->
					<div class="image-column col-lg-6 col-md-12 col-sm-12">
						<div class="inner-column">
							<div class="image">
								<img src="assets/assetsL/images/resource/news-10.jpg" alt="" />
							</div>
						</div>
					</div>
					
					<!-- Content Column -->
					<div class="content-column col-lg-6 col-md-12 col-sm-12">
						<div class="inner-column">
							<h3>Derecho Penal Corporativo</h3>
							<p>LEGALES brindamos asesoría en derecho penal empresarial mediante un acompañamiento permanente a las empresas en los casos delictuales más comunes que afectan el desarrollo de los negocios. Entendemos que en el desenvolvimiento diario de las gestiones de una empresa existe la posibilidad de que se presenten delitos contra los intereses de las compañías y sus accionistas; por esta razón, LEGALES está presente en la orientación legal de las empresas, específicamente en asuntos penales ofreciendo los siguientes servicios:</p>
							
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<!-- End Case Detail Section -->

	<!-- Steps Section -->
    <section class="steps-section case-detail-section-two">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title">
				<div class="title">¿Que hacemos?</div>
				<h2>Derecho penal <br> corporativo</h2>
			</div>
			
			<!-- Steps Info Tabs-->
			<div class="steps-info-tabs">
				<!-- Steps Tabs-->
				<div class="step-tabs tabs-box">
				
					<!--Tab Btns-->
					<div class="btns-outer">
						<ul class="tab-btns tab-buttons clearfix">
							<li data-tab="#step-one" class="tab-btn active-btn">Asesorias</li>
							<li data-tab="#step-two" class="tab-btn">Delitos</li>
							<li data-tab="#step-three" class="tab-btn">Casos</li>
							<li data-tab="#step-four" class="tab-btn">Representaciones</li>
						</ul>
					</div>
					
					<!--Tabs Container-->
					<div class="tabs-content">
						
						<!-- Tab -->
						<div class="tab active-tab" id="step-one">
							<div class="content">
								<div class="row clearfix">
									<!-- Content Column -->
									<div class="content-column col-lg-7 col-md-12 col-sm-12">
										<div class="inner-column">
											<h3>Asesorías y Representación como Denunciante o Denunciado</h3>
											<div class="text">
												<p>Nuestro equipo calificado de abogados expertos en derecho penal brinda asesoría personalizada para cada caso presentado en el despacho. Atendemos a los clientes de forma específica, ya que ninguna solicitud es igual y las herramientas legales para solucionar el inconveniente siempre son diferentes.</p>
												<p>Como abogados especialistas en derecho penal realizamos un análisis detallado de la situación y luego del estudio, decidimos cuál es el plan para defender al cliente, bien sea que se trate del denunciado o denunciante. Nuestra meta es solucionar el problema legal y mediar entre las partes para que los resultados sean los esperados. Como profesionales comprometidos, nos concentramos en defender los derechos del cliente, indistintamente de su condición ante la ley.</p>
												
											</div>
										</div>
									</div>
									<!-- Image Column -->
									<div class="image-column col-lg-5 col-md-12 col-sm-12">
										<div class="inner-column">
											<div class="image">
												<div class="pattern-layer" style="background-image:url(assets/assetsL/images/background/pattern-10.png)"></div>
												<img src="assets/assetsL/images/resource/step.jpg" alt="" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<!-- Tab -->
						<div class="tab" id="step-two">
							<div class="content">
								<div class="row clearfix">
									<!-- Content Column -->
									<div class="content-column col-lg-6 col-md-12 col-sm-12">
										<div class="inner-column">
											<h3>Entre los diferentes tipos de delitos que atendemos en nuestra oficina de abogados especializada en derecho penal se encuentran:</h3>
											
										</div>
										<div class="row clearfix">
											<div class="column col-lg-6 col-md-6 col-sm-12">
												<ul class="list">
													<li>Abuso de confianza</li> 
													<li>Emisión o transferencia ilegal de cheques</li> 
													<li>Utilización indebida de información privilegiada (know how)</li> 
													<li>Usurpación de tierras</li> 
													<li>Violación a los derechos morales de autor</li>
													<li>Alteración de cantidad, calidad, peso o medida de producto</li> 
													<li>Ofrecimiento engañoso de productos y servicios</li> 
													<li>Usurpación de marcas y patentes</li>
													<li>Imitación o simulación de alimentos, productos o sustancias</li> 
												</ul>
											</div>
											<div class="column col-lg-6 col-md-6 col-sm-12">
												<ul class="list">
													
													<li>Violación de reserva industrial y comercial por ocasión del cargo dentro de una empresa (know how) </li> 
													<li>Exportación o importación ficticia</li> 
													<li>Ejercicio ilícito de actividad monopolística</li>
													<li>Delitos contra el sistema financiero</li> 
													<li>Lavado de activos</li> 
													<li>Apoderamiento de hidrocarburos</li> 
													<li>Daños a los recursos naturales</li> 
													<li>Contaminación ambiental</li> 
													<li>Pesca ilegal</li> 
													<li>Explotación ilícita minera</li> 
													
												</ul>
											</div>
										</div>
									</div>
									<!-- Image Column -->
									<div class="image-column col-lg-6 col-md-12 col-sm-12">
										<div class="inner-column">
											<div class="image">
												<div class="pattern-layer" style="background-image:url(assets/assetsL/images/background/pattern-10.png)"></div>
												<img src="assets/assetsL/images/resource/news-1.jpg" alt="" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<!-- Tab -->
						<div class="tab" id="step-three">
							<div class="content">
								<div class="row clearfix">
									<!-- Content Column -->
									<div class="content-column col-lg-6 col-md-12 col-sm-12">
										<div class="inner-column">
											<h3>Los casos más comùnes que atendemos en nuestro despacho de derecho penal son:</h3>
											
										</div>
										<div class="row clearfix">
												<div class="column col-lg-12 col-md-12 col-sm-12">
													<ul class="list">
														<li>Representación en investigación o indagación preliminar a cargo de la Fiscalía</li>
														<li>Representación en programa metodológico</li>
														<li>Radicación o presentación de denuncia</li>
														<li>Representación en medidas de aseguramiento, legalización de captura e imputación</li>
														<li>Representación en audiencia de acusación</li>
														<li>Representación en audiencia preparatoria y juicio oral</li>
														
													</ul>
												</div>
												
										</div>
										
									</div>
									<!-- Image Column -->
									<div class="image-column col-lg-6 col-md-12 col-sm-12">
										<div class="inner-column">
											<div class="image">
												<div class="pattern-layer" style="background-image:url(assets/assetsL/images/background/pattern-10.png)"></div>
												<img src="assets/assetsL/images/resource/case-6.jpg" alt="" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<!-- Tab -->
						<div class="tab" id="step-four">
							<div class="content">
								<div class="row clearfix">
									<!-- Content Column -->
									<div class="content-column col-lg-7 col-md-12 col-sm-12">
										<div class="inner-column">
											<h3>Representación y Asesoría en Todas las Etapas del Proceso Judicial Penal</h3>
											<div class="text">
												<p>LEGALES nos aseguramos de cumplir el objetivo legal con nuestros clientes, es decir, atendemos los casos desde que nos lo presentan en el despacho, hasta su finalización. La larga trayectoria de cada uno de nuestros abogados expertos en derecho penal permite que sepan cómo encaminar los trámites legales de la mejor manera y sin provocarle más inconvenientes al cliente. La representación y asesoría legal de nuestro equipo es personalizada y en cada etapa, el abogado encargado tomará las decisiones propicias para resolver el caso.</p>
											</div>
										</div>
									</div>
									<!-- Image Column -->
									<div class="image-column col-lg-5 col-md-12 col-sm-12">
										<div class="inner-column">
											<div class="image">
												<div class="pattern-layer" style="background-image:url(assets/assetsL/images/background/pattern-10.png)"></div>
												<img src="assets/assetsL/images/resource/case-20.jpg" alt="" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			
		</div>
	</section>
	
	<!-- Case Process Section -->
    <section class="case-process-section">
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Content Column -->
				<div class="content-column col-lg-7 col-md-12 col-sm-12">
					<div class="inner-column">
						<h3>Nuestro proceso</h3>
						<ul class="list">
							<li><strong>1. Planificación del caso.</strong></li>
							<li><strong>2. Evaluar la situación.</strong></li>
							<li><strong>3. Presentar el caso ante el autoridades.</strong></li>
							<li><strong>4. Seguimiento del caso y cumplimiento de ordenanzas.</strong></li>
							<li><strong>5. Finalizaciòn y liberaciòn del caso.</strong></li>
						</ul>
					</div>
				</div>
				
				<!-- Image Column -->
				<div class="image-column col-lg-5 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="image">
							<img src="assets/assetsL/images/resource/case-19.jpg" alt="" />
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Case Detail Section -->

	
	<!-- CTA Section Four -->
	<section class="cta-section-four">
		<div class="auto-container">
			<div class="inner-container">
				<div class="pattern-layer-one" style="background-image:url(assets/assetsL/images/icons/cta-pattern-1.png)"></div>
				<div class="pattern-layer-two" style="background-image:url(assets/assetsL/images/icons/cta-pattern-2.png)"></div>
				<div class="row clearfix">
					<!-- Title Column -->
					<div class="title-column col-lg-9 col-md-12 col-sm-12">
						<div class="inner-column">
							<div class="icon flaticon-auction-2"></div>
							<h3>Rapidas soluciones</h3>
							<div class="text">Obtenga las respuestas, la asesoría, la atención personalizada para su caso y el aprendizaje profesional que le abrirá puertas</div>
						</div>
					</div>
					<!-- Button Column -->
					<div class="button-column col-lg-3 col-md-12 col-sm-12">
						<div class="inner-column">
							<a [routerLink]="['contact']" class="theme-btn btn-style-three"><span class="txt">Contactenos</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End CTA Section Four -->