 <!-- Page Title -->
    <section class="page-title" style="background-image: url(assets/assetsL/images/background/8.jpg)">
    	<div class="auto-container">
			<div class="side-icon">
				<img src="assets/assetsL/images/icons/page-title-icon.png" alt="" />
			</div>
			<h2>Expertos en Alcoholemia</h2>
			
			<div class="side-tag">Contàctanos</div>
        </div>
    </section>
    <!-- End Page Title -->
	
	<!-- Case Detail Section Three -->
	<section class="case-detail-section-two">
		<div class="auto-container">
			<div class="inner-container">
				<div class="row clearfix">
					
					<!-- Image Column -->
					<div class="image-column col-lg-6 col-md-12 col-sm-12">
						<div class="inner-column">
							<div class="image">
								<img src="assets/assetsL/images/resource/case-11.jpg" alt="" />
							</div>
						</div>
					</div>
					
					<!-- Content Column -->
					<div class="content-column col-lg-6 col-md-12 col-sm-12">
						<div class="inner-column">
							<h3>Expertos en Alcoholemia Una tradición de talento</h3>
							<p>El procedimiento, por el cual determinaron tu grado de alcoholemia es la clave, siempre debes presentarte a cumplir la orden de comparendo dentro de los cinco (5) días hábiles siguientes a la notificación ,a rechazar el comparendo , no te preocupes en adelante nos encargamos nosotros.</p>

							<p> Proceso expréss en alcoholemia: la viabilidad de éxito de nuestra representación, está ligada mayormente a aspecto  procedimental, el valor de representación  se define en un ampliación de los hechos, para lo cual el usuario obtendrá  en crédito, el valor de la viabilidad inicial.</p>
							
							
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
   
	<!-- End Case Detail Section Three -->
	
	<!-- Case Process Section -->
    <section class="case-process-section">
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Content Column -->
				<div class="content-column col-lg-7 col-md-12 col-sm-12">
					<div class="inner-column">
						<h3>Nuestro proceso</h3>
						<ul class="list">
							<li><strong>1. Planificación del caso.</strong></li>
							<li><strong>2. Evaluar la situación.</strong></li>
							<li><strong>3. Presentar el caso ante el autoridades.</strong></li>
							<li><strong>4. Seguimiento del caso y cumplimiento de ordenanzas.</strong></li>
							<li><strong>5. Finalizaciòn y liberaciòn del caso.</strong></li>
						</ul>
					</div>
				</div>
				
				<!-- Image Column -->
				<div class="image-column col-lg-5 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="image">
							<img src="assets/assetsL/images/resource/case-19.jpg" alt="" />
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Case Detail Section -->

	
	<!-- CTA Section Four -->
	<section class="cta-section-four">
		<div class="auto-container">
			<div class="inner-container">
				<div class="pattern-layer-one" style="background-image:url(assets/assetsL/images/icons/cta-pattern-1.png)"></div>
				<div class="pattern-layer-two" style="background-image:url(assets/assetsL/images/icons/cta-pattern-2.png)"></div>
				<div class="row clearfix">
					<!-- Title Column -->
					<div class="title-column col-lg-9 col-md-12 col-sm-12">
						<div class="inner-column">
							<div class="icon flaticon-auction-2"></div>
							<h3>Rapidas soluciones</h3>
							<div class="text">Obtenga las respuestas, la asesoría, la atención personalizada para su caso y el aprendizaje profesional que le abrirá puertas</div>
						</div>
					</div>
					<!-- Button Column -->
					<div class="button-column col-lg-3 col-md-12 col-sm-12">
						<div class="inner-column">
							<a [routerLink]="['contact']" class="theme-btn btn-style-three"><span class="txt">Contactenos</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End CTA Section Four -->